page-catalog {



   ion-card{
        overflow: scroll;
    }





    .seleted{
        background: color($colors,secondary);
    }

    .red{
        color: red;
    }

   li{
        list-style: none;
    }

}
