<!--
  Generated template for the CatalogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="list">&nbsp;Catalog</ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="header-bar">
    <ion-title ion-text>
      <ion-icon name="search"></ion-icon>&nbsp; Select Shop</ion-title>
  </div>
  <ion-row>
    <ion-col col-lg-12 col-md-12 col-sm-12 col-xs-12>
      <ion-list radio-group [(ngModel)]="shopSelected">

        <ion-row>
          <ion-col col-lg-6 col-md-6 col-sm-12 *ngFor="let shop of shopList; let i = index">
            <ion-item>
              <ion-radio *ngIf='i==0' checked item-start value="{{shop.shopId}}"></ion-radio>
              <ion-radio *ngIf='i!=0' item-start value="{{shop.shopId}}"></ion-radio>
              <ion-label>
                <p ion-text text-left>{{shop.shopName}}, {{shop.shopLocality}} , {{shop.shopCity}} </p>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <button margin-left ion-button (click)="viewProductSelected = true; viewProduct(shopSelected)" [disabled]="!shopSelected"
              margin-top>View Products</button>
          </ion-col>
        </ion-row>


      </ion-list>
    </ion-col>
  </ion-row>



  <ion-grid>
    <div class="header-bar">
      <ion-title ion-text>
        <ion-icon name="list-box"></ion-icon>&nbsp; Product Details
      </ion-title>
    </div>

    <ion-row id="viewProduct">
      <ion-col>

        <button ion-button small round color="secondary" [disabled]="!viewProductSelected" (click)="uploadCatalog=!uploadCatalog">
          <ion-icon icon-left name="cloud-upload"></ion-icon> &nbsp;Upload Catalog</button>
        <button ion-button small round color="primary" [disabled]="!viewProductSelected" (click)="showDialogToAdd()">
          <ion-icon name="add-circle" icon-left></ion-icon> &nbsp;Add</button>
        <!-- <button ion-button small round outline color="secondary" [disabled]="!shopSelected" (click)="save()">Save Changes</button> -->
        <button ion-button small round color="secondary" [disabled]="!viewProductSelected || !activateDeleteButton" (click)="deleteSelected()">
          <ion-icon name="trash" icon-left></ion-icon>&nbsp; Delete</button>
        <button ion-button small round outline color="secondary" [disabled]="!viewProductSelected" (click)="refresh()">
          <ion-icon name="refresh" icon-left></ion-icon> &nbsp;Refresh</button>
        <button ion-button small round outline color="secondary" [disabled]="(!viewProductSelected || errorData.length==0)" (click)="presentErrorModal()">
          <ion-icon name="information-circle" icon-left></ion-icon> &nbsp;Errors</button>

      </ion-col>
      <ion-col *ngIf="uploadCatalog">
        <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center *ngIf="productList.length==0" class="no-promotion">
      <ion-col col-md-4 col-lg-4 col-sm-12 col-xs-12 align-self-center>
        <div>
          <img src="assets/imgs/search.png" class="dashboard-icons" />
          <button ion-button clear round>Specify search criteria</button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <p-table *ngIf="productList.length>0" #dt [columns]="cols" [value]="productList" sortMode="multiple" selectionMode="multiple" [(selection)]="selectedProduct"
    [paginator]="true" [rows]="15" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
      <div style="text-align: left">
        <button ion-button round small (click)="deleteAll()">
          <ion-icon icon-left name="trash"></ion-icon>Delete Catalog</button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Action</th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <button ion-button small (click)="deleteProduct(rowData)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button small (click)="editProduct(rowData)">
            <ion-icon name="create"></ion-icon>
          </button>
        </td>
        <td>{{rowData.barcodeId}}</td>
        <td>{{rowData.sku}}</td>
        <td>{{rowData.name}}</td>
        <td>
          <a target="_blank" href="{{rowData.image}}">View Image</a>
        </td>
        <td>{{rowData.category}}</td>
        <td>{{rowData.subCategory}}</td>
        <td>
          <a target="_blank" href="{{rowData.categoryImage}}">View Image</a>
        </td>
        <td>{{rowData.amount}}</td>
        <td>{{rowData.isPerishable}}</td>

      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      {{productList?.length}} products
    </ng-template>
  </p-table>




</ion-content>
<p-dialog header="Product Details" [(visible)]="displayDialog" [width]="600">

  <div class="ui-g ui-fluid" *ngIf="product">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="barcodeId">
          <span class="red">*</span> BarcodeId</label>
      </div>
      <div class="ui-g-8">
        <input type="number" id="barcodeId" [(ngModel)]="product.barcodeId" required/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="sku">
          <span class="red">*</span>Sku</label>
      </div>
      <div class="ui-g-8">
        <input type="text" id="sku" [(ngModel)]="product.sku" required/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name">Product Name</label>
      </div>
      <div class="ui-g-8">
        <input type="text" id="name" [(ngModel)]="product.name" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="image">Image Url</label>
      </div>
      <div class="ui-g-8">
        <input type="text" id="image" [(ngModel)]="product.image" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="category">
          <span class="red">*</span>Category</label>
      </div>
      <div class="ui-g-8">
        <input type="text" id="category" [(ngModel)]="product.category" required/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="subCategory">
          <span class="red">*</span>Sub Category</label>
      </div>
      <div class="ui-g-8">
        <input type="text" id="subCategory" [(ngModel)]="product.subCategory" required/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="catImg">Category Image</label>
      </div>
      <div class="ui-g-8">
        <input type="text" id="catImg" [(ngModel)]="product.categoryImage" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="amount">Amount</label>
      </div>
      <div class="ui-g-8">
        <input type="number" id="amount" [(ngModel)]="product.amount" step="0.1" required/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="color">Perishable Item?</label>
      </div>
      <div class="ui-g-8">
        <input type="checkbox" id="color" [(ngModel)]="product.isPerishable" />
      </div>
    </div>
    <div class="ui-g-12" style="display: none">
      <div class="ui-g-4">
        <label for="color">delete</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="color" [(ngModel)]="product.delete" />
      </div>
    </div>
  </div>
  <!-- <ion-list *ngIf="product">
    <ion-item>
      <ion-label stacked>Barcode Id</ion-label>

      <ion-input type="text" placeholder="BarcodeId" [(ngModel)]="product.barcodeId" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-input type="text" placeholder="Sku" [(ngModel)]="product.sku" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-input type="text" placeholder="Product Name" [(ngModel)]="product.name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-input type="text" placeholder="Enter Image URL" [(ngModel)]="product.image"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-input type="text" placeholder="category" [(ngModel)]="product.category"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-input type="text" placeholder="Enter Category Image URL" [(ngModel)]="product.categoryImage"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-input type="text" placeholder="Subcategory" [(ngModel)]="product.subCategory"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-input type="number" placeholder="Amount" step="0.1" [(ngModel)]="product.amount"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Barcode Id</ion-label>
      <ion-checkbox type="checkbox" [(ngModel)]="product.isPerishable"></ion-checkbox>
    </ion-item>
  </ion-list> -->




  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button ion-button (click)="save()">Save</button>
    </div>
  </p-footer>
</p-dialog>

<p-growl [(value)]="msgs"></p-growl>