page-promotions {
    .disabled{
        background-color: gray;
        opacity: 0.5;
    }

    .add-promotion .card-header{
        background: color($colors,primary);
    }

    .show-promotion .card-header{
        background: color($colors,secondary)
    }

    .no-promotion{
        background-color: #e0e0e0;
    }

    
}
