// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";



// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #15112F,
  secondary:  #F79420,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  success: rgb(93, 211, 14),
);


.toolbar-background{
  background: color($colors,primary) !important;
}

.dashboard-icons{
  margin: auto;
  width: 50%;
}

.ion-title{
  color: color($colors,secondary);
}

.ion-item:active{
  color: color($colors,secondary);
}

$toolbar-md-title-text-color:color($colors,secondary);
$button-md-text-color:color($colors,secondary);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-title-text-color:color($colors,secondary);
$button-ios-text-color:color($colors,secondary);
.card-content-ios{
  overflow: auto;
}
$toast-ios-background: color($colors,secondary);
$toast-md-background:color($colors,secondary);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
.text-input{
  color: color($colors,secondary);
}
.header-bar{
  background:color($colors,primary);
  padding: 10px 0px;
}
#menu{
  background: rgba(21, 17, 47, 0.9);
}
.sub-heading{
  font-size: 18px;
  color: color($colors,secondary);
}
.item.item-block.item-md{
  background: none;
  border: 0px;
}
.highlight-card{
  background:color($colors,primary);
}

.button:active{
  color: color($colors,secondary);
}

.menu .content .content-md{
  background: rgba(21, 17, 47, 0.95);
}
.item-md ion-avatar img {
  margin: auto;
}

.pending-btn{
  border: 2px solid color($colors,secondary);
  $button-ios-background-color:color($colors,light);
  $button-md-background-color:color($colors,light);
}

.fulfilled-btn{
  background:color($colors,secondary);
  color: color($colors,secondary);
}

.scroll-content{
  overflow: auto !important;
}

.smart-table-container{ 
  overflow-x: scroll;
}

.content-scrolls{
overflow: auto;
}



.card-content-md{
  overflow: auto;
 
}




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .shop-text p{
    font-size: 1em !important;
  }
  
}