
<ion-split-pane [when]="splitPane.getSplitPane()">
<ion-menu persistent="true" [content]="content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-avatar item-left>
        <img src="../assets/imgs/admin.png" class="dashboard-icons">
      </ion-avatar>
      <p ion-text text-center color="secondary"><b>{{admin.adminName}}</b></p>
      <p ion-text text-center color="light"><b>{{admin.emailId}}</b></p>
    </ion-toolbar>
  </ion-header> -->

  <ion-content no-padding id="menu">
    <ion-list>

        <ion-toolbar>
            
            <ion-avatar item-left>
              <img src="assets/imgs/admin.png" class="dashboard-icons">
            </ion-avatar>
            <p ion-text text-center color="secondary"><b>{{admin.adminName}}</b></p>
            <p ion-text text-center color="light"><b>{{admin.emailId}}</b></p>
          </ion-toolbar>
    <span *ngIf="admin">    
      <button  menuClose color="{{p.color}}" ion-item *ngFor="let p of admin.pages" (click)="openPage(p)">
       <p ion-text text-left color="secondary"><ion-icon name="{{p.icon}}"></ion-icon>&nbsp;
        {{p.title}} </p> 
      </button>
    </span> 
   
      <!-- <span *ngIf="admin.rolesMap && admin.rolesMap.HO">
        <button  menuClose color="{{p.color}}" ion-item *ngFor="let p of HOpages" (click)="openPage(p)">
          <p ion-text text-left color="secondary"><ion-icon name="{{p.icon}}"></ion-icon>&nbsp;
           {{p.title}} </p> 
         </button>
      </span>-->

      <!--Fae Eye Delivery status-->
      <span *ngIf="admin.rolesMap && admin.rolesMap.HO && admin.rolesMap.BB">
        <button  menuClose color="primary" ion-item  (click)="deliveryStatus()">
          <p ion-text text-left color="secondary"><ion-icon name="basket"></ion-icon>
           Delivery Status </p> 
         </button>
      </span>

      
    </ion-list>
    <ion-footer>
      <button ion-button block menuClose (click)="logout()">Logout</button>
    </ion-footer>
  </ion-content>

</ion-menu>



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>

