<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="cart"></ion-icon> Orders</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-grid id="shoplist">
    <div class="header-bar">
      <ion-title ion-text>
        <ion-icon name="pin"></ion-icon>&nbsp; Track Orders</ion-title>
    </div>

    <ion-row padding *ngIf="showfilter==true">
      <ion-col col-md-4 col-lg-4 col-sm-12 col-xs-12>
        <div>
          <p class="sub-heading" ion-text color="secondary">
            <ion-icon name="calendar"></ion-icon> &nbsp; Select Date</p>
        </div>
        <div class="form-group">
          <div class="input-group" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event)">
            <span class="form-control uneditable-input">
              {{ daterange.start | date:'dd/MM/yyyy' }} - {{ daterange.end| date:'dd/MM/yyyy' }}
            </span>
            <span class="input-group-btn">
              <a type="button" class="btn btn-default">
                <i class="glyphicon glyphicon-calendar"></i>
              </a>
            </span>
          </div>

        </div>
      </ion-col>
      <ion-col col-lg-12 col-md-12 col-sm-12 col-xs-12>
        <ion-list radio-group [(ngModel)]="selectedShopId">

          <ion-row>
            <ion-col col-lg-6 col-md-6 col-sm-12 *ngFor="let shop of shopList">
              <ion-item>
                <ion-radio item-start value="{{shop.shopId}}"></ion-radio>
                <ion-label>
                  <p ion-text text-left>{{shop.shopName}}, {{shop.shopLocality}} , {{shop.shopCity}} </p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col>
              <button ion-button (click)="search([selectedShopId])" [disabled]="!selectedShopId" margin-top>SEARCH</button>
              <button ion-button outline color="secondary" (click)="reset()" margin-top>RESET</button>
            </ion-col>
          </ion-row>


        </ion-list>
      </ion-col>
    </ion-row>


    <ion-row padding *ngIf="showfilter==false" id="order-detail">
      <ion-col >
          <div class="header-bar">
              <ion-title ion-text>
                <ion-icon name="list-box"></ion-icon>&nbsp; Order Detail
                <button style="float: right" ion-button small round color="secondary" (click)="downloadReport(selectedShopIds)">Download</button>
                <button style="float: right" ion-button small round color="secondary" (click)="filter()">Filter</button>
              </ion-title>
            </div>
            <ion-card class="content-scrolls">
        
              <ng2-smart-table [settings]="settings" [source]="fulfillmentData"></ng2-smart-table>
            </ion-card>
      </ion-col>
        
    </ion-row>

  </ion-grid>








</ion-content>

